  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

  body{font-family: 'Times New Roman', Times, serif 'Times New Roman', Times, serif; }

  body{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

*{ padding: 0;
 margin: 0;
box-sizing: border-box;}

/* nav bar cooding start here */


nav div{margin-left: 2px;}

nav div span{color: white;
font-size: large;

margin-left: 10px;}

nav{display: flex;
  padding: 14px;
justify-content: space-between;
background-color:#1C2833}

nav ul{
  display: flex;
  margin: 0px 50px;
  align-items: center;}

  nav ul li{list-style: none;}


  nav ul li a{
    text-decoration: none;
    color: white;
  padding: 15px 30px;
transition: 0.75s;}

 nav ul li:hover a{
  background-color:
   rgba(197, 194, 27, 0.715);}   

   #click{display: none;}

   .btn-click{color: white;
  font-size: 25px;
cursor: pointer;
display: none;}

   /* Navbar reponsive start */

   @media only screen and (max-width: 940px) { nav ul{position: fixed;
  margin-top:  42px;
  background-color: rgb(19, 26, 33);
  height: 100vh;
  width: 100%;
  left: 100%;
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
   transition: all 1.170s ease;
  
}
.btn-click{display: block;}
#click:checked ~ ul{left: 0%;}

#click:checked ~ .btn-click i::before{
  content: "\f654";
  color: red;
}



nav ul li{
  margin: 30px;
  font-size: 18px;
 
}

nav ul li a:hover{
  background: none;
  color: red;
}


    
   }



 





